<!--
The launch file is an XML that specifies which parameters to set and ROS
nodes to launch. It's used with a roslaunch command, which is responsible
for doing the initial setup and starting the system. The launch file includes
options to automatically respawn processes that have already died. This
file is usually in the /launch subdirectory of a package. For a specification
of this XML format, see:
http://wiki.ros.org/roslaunch/XML
-->

<launch>
    <group ns="emgprot">
        <!-- <node name="adc" pkg="embedded_emg_prosthesis" type="adc.py" output="log" respawn="true" respawn_delay="5"/> -->
        <node name="adc" pkg="embedded_emg_prosthesis" type="mqtt.py" output="log" respawn="true" respawn_delay="5"/>
        <node name="accumulator" pkg="embedded_emg_prosthesis" type="accumulator.py" output="screen" respawn="true" respawn_delay="5"/>
        <node name="extraction" pkg="embedded_emg_prosthesis" type="extraction.py" output="screen" respawn="true" respawn_delay="5"/>
        <node name="predictor" pkg="embedded_emg_prosthesis" type="predictor.py" output="screen" respawn="true" respawn_delay="5"/>
        <node name="control" pkg="embedded_emg_prosthesis" type="servo_node.py" output="screen" respawn="true" respawn_delay="5"/>
    </group>
</launch>